<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="title-bar" color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-row>
            <img style="margin: auto 0;display:block;border-radius: 50%;width:50px;height:50px" src="assets/imgs/user.png">
            <p style="margin-left: 20px; font-size: 18px; width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color:white;" *ngIf="restaurant">{{restaurant.user_name}}</p>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <!--<ion-list *ngIf="messages.length>0">-->
    <!--<ion-item *ngFor="let message of messages">-->
    <!--{{message.message}}-->
    <!--</ion-item>-->
    <!--</ion-list>-->
    <div class="message-wrap">
        <div *ngFor="let msg of messages" class="message" [class.left]=" msg.sender_id !== user.uid" [class.right]=" msg.sender_id === user.uid ">
            <!--<img class="user-img" [src]="msg.userAvatar" alt="" src="">-->
            <!--<ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>-->
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        <!--{{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>-->
                        {{msg.timestamp*1000 | date :'short'}}
                    </p>
                </div>
                <div [ngClass]="{'msg-content':true,'msg-readed' : msg.msg_readed}" >
                    <p class="line-breaker " *ngIf="!msg.message_type || msg.message_type == 'text'">{{msg.message}}</p>
                    <img style="height:250px;width:250px;" src="{{msg.firebase_url}}" *ngIf="msg.message_type == 'image'" >
                </div>
                </div>
            </div>
        </div>
</ion-content>
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
    <div class="input-wrap" style="background-color:#5e2f6f">
        <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
            <ion-icon name="md-happy"></ion-icon>
        </button>
        <button ion-button clear icon-only item-right (click)="openGallery()">
            <ion-icon name="attach"></ion-icon>
        </button>
        <textarea #chat_input placeholder="Type message here..." name="editorMsg" [(ngModel)]="editorMsg" (keyup.enter)="sendMessage(editorMsg)" (focusin)="onFocus()">
    </textarea>
        <button ion-button clear icon-only item-right (click)="sendMessage(editorMsg)">
            <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
    </div>
    <emoji-picker [(ngModel)]="editorMsg"></emoji-picker>
</ion-footer>