page-chat-vendor {
    .button-md,
    .button-ios {
        color: white;
        // background-color: #330C00;
    }

    $toUserBackgroundColor: #c2c2c2;
    $userBackgroundColor: #5e2f6f;

    ion-content .scroll-content {
        background-color: #f5f5f5;
    }

    ion-footer {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
        background-color: #fff;
        height: 255px;
    }

    .line-breaker {
        white-space: pre-line;
    }

    .input-wrap {
        padding: 5px;
        display: flex;

        textarea {
            flex: 1;
            border: 0;
            border-style: solid;

            background-color: transparent;
            color: white;
            height: 25px;
            margin: auto 0;
            border-bottom: 1px solid white;
        }
        ::placeholder {
          color:#cdcdcd;
        }
    }

    .message-wrap {
        padding: 0 10px;

        .message {
            position: relative;
            padding: 7px 0;

            .user-img {
                position: absolute;
                border-radius: 45px;
                width: 45px;
                height: 45px;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
            }

            .msg-detail {
                width: 100%;
                display: inline-block;

                p {
                    margin: 0;
                }

                .msg-info {
                    p {
                        font-size: .8em;
                        color: #888;
                    }
                }

                .msg-content {
                    position: relative;
                    margin-top: 5px;
                    border-radius: 5px;
                    padding: 8px;
                    border: 1px solid #ddd;
                    color: #fff;
                    width: auto;
                    max-width: 80%;
                }

            }
        }

        .message.left {
            .msg-content {
                width: 100%;
                padding: 15px;
                // background-color: $toUserBackgroundColor;
                float: left;
            }

            .msg-detail {
                padding-left: 30px;
            }

            .user-img {
                left: 0;
            }

            .msg-content {
                color: #343434;
            }

        }

        .message.right {
            .msg-detail {
                padding-right: 30px;

                .msg-info {
                    text-align: right;
                }
            }

            .user-img {
                right: 0;
            }

            ion-spinner {
                position: absolute;
                right: 10px;
                top: 50px;
            }

            .msg-content {
                width: 100%;
                padding: 15px;
                background-color: $userBackgroundColor;
                float: right;
            }

        }

    }
}