<!--
  Generated template for the WishlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wish List</ion-title>
	
<ion-buttons right>
        <button style="background-color:white;" (click)="goToMap()">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
	
  </ion-navbar>

</ion-header>


<ion-content padding>
<swipe-to-dismiss-layout-3
     [data]="params.data"
     [events]="params.events">
   </swipe-to-dismiss-layout-3>

</ion-content>
