page-event {
	.title-bar {
		font-weight: 300;
	}
	.toolbar-title {
		font-weight: 300 !important;
	}
	.head-btn {
		position: absolute;
		left: 0;
		top: 0;
		padding: 5px 15px 0 15px;
		font-size: 24px;
		box-shadow: none;
		top: 5px;
	}
	.icon-list img {
		width: 36px !important;
		display: inline-block !important;
		vertical-align: middle !important;
		margin-right: 10px !important;
	}
	.btn-extra-space {
		padding: 30px 15px;
		text-transform: capitalize;
		font-size: 1.8rem;
		font-weight: normal;
	}
	.extra-margin {
		margin: 25px 0;
	}
	.user-with-review {
		border-bottom: 1px solid $brandcolor !important;
	}
	.user-with-review img {
		width: 52px;
		height: 52px;
	}
	.user-with-review h2 {
		font-size: 1.3rem;
	}
	.user-with-review p {
		font-size: 1.3rem;
		white-space: normal;
	}
	.date-rev {
		display: block;
		text-align: right;
		font-size: 1.3rem
	}
	.avatar-box {
		align-self: flex-start;
		margin-top: 20px !important;
	}
	.star-rating {
		position: absolute;
		right: 0;
		top: 10px;
		font-size: 1rem;
	}
	.op-hrs {
		text-align: center;
		display: block;
	}
	.op-hrs span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		background: $greencolor;
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}
	.item-block {
		border-bottom: 1px solid $brandcolor !important;
	}
}

.card-background-page {
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -16px;
}

.card-background-page {

	ion-card {
		position: relative;
		text-align: left;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}

	.card-title {
		position: absolute;
		top: 36%;
		font-size: 1.8rem;
		width: 100%;
		font-weight: bold;
		color: #fff;
		padding-left: 15px;
	}

	.card-subtitle {
		font-size: 1.0em;
		position: absolute;
		top: 45%;
		width: 100%;
		color: #fff;
		padding-left: 15px;
		font-size: 1.5rem;
	}
	.star-rating {
		font-size: 1.5rem;
		color: $greencolor;
    position: relative !important; left: 0 !important; top:0;
	}
   
  .star-location{display: flex; justify-content: space-between;position: absolute;left: 0px;top: 56%; width:100%; padding: 0 15px}
  .distance-div{font-size: 1.3rem; color:#ffffff;}
  .distance-div img{max-width: 14px; display: inline-block; vertical-align:middle; margin-right: 7px;}
}