<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="title-bar" color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-row>
            <img style="margin: auto 0;display:block;border-radius: 50%;width:50px;height:50px" [src]="restaurant.backgroundImage">
            <p style="margin-left: 20px; font-size: 18px; width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color:white;" *ngIf="chatRoom">{{chatRoom.vendor_title}}</p>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <!--<ion-list *ngIf="messages.length>0">-->
    <!--<ion-item *ngFor="let message of messages">-->
    <!--{{message.message}}-->
    <!--</ion-item>-->
    <!--</ion-list>-->
    <div class="message-wrap">
        <div #msglist *ngFor="let msg of messages" class="message" [class.left]=" msg.sender_id !== user.uid" [class.right]=" msg.sender_id === user.uid ">
            <!--<img class="user-img" [src]="msg.userAvatar" alt="" src="">-->
            <!--<ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>-->
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        <!--{{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>-->
                        {{msg.timestamp*1000 | date :'short'}}
                </div>
                <div [ngClass]="{'msg-content':true,'msg-readed' : msg.msg_readed}" >
                    <p class="line-breaker " *ngIf="!msg.message_type || msg.message_type == 'text'">{{msg.message}}</p>
                    <img style="height:250px;width:250px;" src="{{msg.firebase_url}}" *ngIf="msg.message_type == 'image'" >
                </div>
                </div>
            </div>
        </div>
</ion-content>
<!--<ion-footer>-->
<!--<ion-toolbar>-->
<!--<div>-->
<!--<ion-textarea [(ngModel)]="newMessage" placeholder="Type a message"-->
<!--style="color:#262626;padding:5px;padding-right:20%;padding-left: 60px;height: 50px"></ion-textarea>-->
<!--<div ion-button-->
<!--style="left:1%;position:absolute;  padding:8px;top: 30%;border-radius: 50%;bottom: 15%; margin: 0;width:25px;height: 25px;font-size:10px"-->
<!--(click)="toggleGiphy()">-->
<!--Gif-->
<!--</div>-->
<!--&lt;!&ndash;-->
<!--<button ion-button style="left:10%;position:absolute;  padding:8px;top: 30%;border-radius: 50%;bottom: 15%; margin: 0;width:25px;height: 25px;font-size:15px" (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'bottom'"-->
<!--(emojiPickerSelect)="handleSelection($event)"><ion-icon name="happy"> </ion-icon></button>-->
<!--&ndash;&gt;-->
<!--</div>-->
<!--<button ion-button [disabled]="showSelectedblock==false"-->
<!--(click)="sendMessage(newMessage,1); newMessage = '' && audio == false"-->
<!--style="position:absolute; right: 3%; padding:8px;top: 13px;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">-->
<!--<ion-icon name="md-send"></ion-icon>-->
<!--</button>-->
<!--&lt;!&ndash;<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"  (touchend)="onRelease()" (pan)="panEvent($event)" (swipe)="onSwipeLeft()" style="">&ndash;&gt;-->
<!--&lt;!&ndash;<ion-icon name="md-mic"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false" (click)="blockUser(this.recipient.id,this.isblock=true)" style="position: absolute;right: 26%;padding: 8px;top: 22%;border-radius: 50%;bottom: 15%;margin: 0;width: 35px; height: 35px;">-->
<!--<ion-icon name="md-mic"></ion-icon>-->
<!--</button>-->
<!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false" (click)="unBlock(this.recipient.id,this.isblock=false)" style="position: absolute;right: 29%;padding: 8px;top: 22%;border-radius: 50%;bottom: 15%;margin: 0;width: 35px; height: 35px;">-->
<!--<ion-icon name="md-mic"></ion-icon>-->
<!--</button>-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;0-->
<!--<button ion-button  (click)="sendAudio(filePath)"  style="position:absolute; right: 30%; padding:8px;top: 13px;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">-->
<!--<ion-icon name="md-send"></ion-icon>-->
<!--</button>-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"  (touchend)="onRelease()" (pan)="panEvent($event)" (swipe)="onSwipeLeft()" style="">-->
<!--<ion-icon name="md-mic"></ion-icon>-->
<!--</button>-->
<!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"  (pan)="panEvent($event)" (touchend)="onRelease()" (press) = "onPressed($event)" (release)="onRelease()"-->
<!--(swipe)="onSwipeLeft()" style="right:3px">-->
<!--<ion-icon name="md-mic"></ion-icon>-->
<!--</button>-->
<!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"-->
<!--(touchend)="onRelease()" (pan)="panEvent($event)">-->
<!--<ion-icon name="md-mic"></ion-icon>-->
<!--</button>-->
<!--<button ion-button *ngIf="newMessage == '' && audio == true" (click)="sendAudio()" (touchend)="onRelease()" (swipe)="onSwipeLeft()"-->
<!--style="position:absolute; right: 3%; padding:8px;top: 13%;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">-->
<!--<ion-icon name="md-mic-off"></ion-icon>-->
<!--</button>-->
<!--<button ion-button *ngIf="newMessage == '' && audio == true"-->
<!--style="position:absolute; right: 3px; padding:8px;top: 13%;border-radius: 50%;bottom: 15%; margin: 0;width:60px;height:60px">-->
<!--<ion-icon name="md-mic-off"></ion-icon>-->
<!--</button>-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<button ion-button  (click)="sendAudio(filePath)"  style="position:absolute; right: 18%; padding:8px;top: 13px;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">-->
<!--<ion-icon name="md-send"></ion-icon>-->
<!--</button>-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"   (press)="calll()"   style="position: absolute;right: 15%;padding: 8px;top: 22%;border-radius: 50%;bottom: 15%;margin: 0;width: 35px; height: 35px;">-->
<!--<ion-icon name="md-mic"></ion-icon>-->
<!--</button>-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"  (pan)="panEvent($event)" (touchend)="onRelease()" (press) = "onPressed($event)" (release)="onRelease()"-->
<!--(swipe)="onSwipeLeft()" style="right:3px">-->
<!--<ion-icon name="md-mic"></ion-icon>-->
<!--</button>-->
<!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"-->
<!--(touchend)="onRelease()" (pan)="panEvent($event)">-->
<!--<ion-icon name="md-mic"></ion-icon>-->
<!--</button>-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<button ion-button *ngIf="newMessage == '' && audio == true" (click)="sendAudio()" (touchend)="onRelease()" (swipe)="onSwipeLeft()"-->
<!--style="position:absolute; right: 3%; padding:8px;top: 13%;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">-->
<!--<ion-icon name="md-mic-off"></ion-icon>-->
<!--</button>-->
<!--<button ion-button *ngIf="newMessage == '' && audio == true"-->
<!--style="position:absolute; right: 3px; padding:8px;top: 13%;border-radius: 50%;bottom: 15%; margin: 0;width:60px;height:60px">-->
<!--<ion-icon name="md-mic-off"></ion-icon>-->
<!--</button>-->
<!--&ndash;&gt;-->
<!--</ion-toolbar>-->
<!--</ion-footer>-->
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
    <div class="input-wrap" style="background-color:#2c4f6f">
        <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
            <ion-icon name="md-happy"></ion-icon>
        </button>
        <button ion-button clear icon-only item-right (click)="openGallery()">
            <ion-icon name="attach"></ion-icon>
        </button>
        <textarea #chat_input placeholder="Type message here..." name="editorMsg" [(ngModel)]="editorMsg" (keyup.enter)="sendMessage(editorMsg)" (focusin)="onFocus()">
        </textarea>
        <button ion-button clear icon-only item-right (click)="sendMessage(editorMsg)">
            <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
    </div>
    <emoji-picker [(ngModel)]="editorMsg"></emoji-picker>
</ion-footer>