<!--
  Generated template for the ChattingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="title-bar" color="primary">
        <!-- <button ion-button style="background-color: transparent;">
            <ion-icon (click)="ChattingBack()" name="arrow-round-back"></ion-icon>
        </button> -->
        <button ion-button menuToggle *ngIf='!fromList'>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-row>
            <img style="margin: auto 0;display:block;border-radius: 50%;width:50px;height:50px" src="assets/imgs/user.png">
            <p style="margin-left: 20px; font-size: 18px; width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color:white;">Messages</p>
          
       
        </ion-row>
    </ion-navbar>
</ion-header>


<ion-content class="chatt">
    <ion-list *ngIf="chatRooms.length >0">
        <ion-item *ngFor="let room of chatRooms" (press)="showActionSheet(room)" (click)="openChat(room)" [class.hasUnreadMsg]="room.hasUnreadMsg">
            <ion-avatar item-start>
                <img src="assets/images/background/2.jpg" >
            </ion-avatar>
            <h2>{{capatlize(room.user_name)}}</h2>
            <p [ngClass]="{'bold-wed' : room.hasUnreadMsg}">{{room.last_message}}</p>
            <!-- <h1>{{room.last_msg_timestamp*1000 | date :'short'}}</h1> -->
        </ion-item>
    </ion-list>
    <!--<ion-list>-->
    <!--<ion-item>-->
    <!--<ion-avatar item-start>-->
    <!--<img src="assets/images/background/2.jpg">-->
    <!--</ion-avatar>-->
    <!--<h2>Venue Test</h2>-->
    <!--<h3>Urban Bridge</h3>-->
    <!--<p>I've had a pretty messed up day.</p>-->
    <!--<h1> 12.09 AM</h1>-->

    <!--</ion-item>-->
    <!--</ion-list>-->

</ion-content>
