page-chatting {
    .item-md {

        border-top: 1px solid rgba(0, 0, 0, 0.17);
        background-color: #fff;

    }
    
    .hasUnreadMsg {
        background: #ddcddf !important;
    }

    .item-md h3 {
        margin: 2px 0;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: normal;
        color: rgba(0, 0, 0, 0.7019607843137254);
    }

    .item-md h1 {
        float: right;
        color: rgba(0, 0, 0, 0.7019607843137254);
        font-size: 12px;


    }

    .item-md h2 {
        font-weight: 600;


    }

    ion-content {

        font-family: serif;

    }
 

}
.action-sheet-ios .action-sheet-group ,
.action-sheet-md .action-sheet-group{
    border-radius:0;
}
.action-sheet-md .action-sheet-title,.action-sheet-ios .action-sheet-title {
  
    display: none;
}
.action-sheet-md .action-sheet-button, .action-sheet-ios .action-sheet-button {
    margin: 0;
    padding: 7px;
    min-height: 3.6rem;
    border-bottom: 0.55px solid #d6d6da;
    font-size: 1.8rem;
    color: #2c4f6f;
    background: transparent;
}