<!--
  Generated template for the ChecklistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar >
  
    <button ion-button menuToggle>
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    <ion-title>CheckList</ion-title>
	<!--
	<ion-buttons right>
        <button style="background-color:transparent;" (click)="goToMap()">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  -->
	
  </ion-navbar>
</ion-header>


<ion-content>
<ion-list>
  <button ion-item *ngFor="let item of items" (click)="itemSelectedd()">
 
    {{ item }}
  </button> 
  
</ion-list>

</ion-content>


<ion-footer>
 <ion-navbar  style="text-align: center;">
   <button style="background-color:transparent;" (click)="presentPrompt()">
            <ion-icon name="add"   style="position:relative; color:#fff;"  >
              <span>New Category</span>
            </ion-icon>
        </button>
   </ion-navbar>
</ion-footer>
