<!-- Themes Login + logo 2 -->
<ion-content has-header style ="background-image:url('assets/images/logo/sky.jpg')">
  <ion-grid no-padding *ngIf="data != null">
    <ion-row padding-horizontal align-self-center>
      <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Logo-->

        <!---Logo Subtitle-->
        <h2 login-subtitle no-margin>{{data.subtitle}}</h2>
        <!---Logo Title
        <h1 ion-text color="accent" login-title no-margin>{{data.title}}</h1>
      -->
      
      </ion-col>

      <!--<ion-list radio-group   [(ngModel)]="type">-->
        <!--<h2> I Want to Login As </h2>-->
<!--<ion-item>-->
    <!--<ion-label>Owner</ion-label>-->
    <!--<ion-radio  value="Owner" checked></ion-radio>-->
  <!--</ion-item>-->

  <!--<ion-item>-->
    <!--<ion-label>Customer</ion-label>-->
    <!--<ion-radio value="Customer"></ion-radio>-->
  <!--</ion-item>-->


<!--</ion-list>-->
      <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Input field username-->

        <ion-item no-padding margin-top style = "background:none;">
          <ion-label ><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-label>

          <ion-label color="dark" floating="top">  {{data.labelUsername}}</ion-label>
          <ion-input required type="text" placeholder="{{data.username}}" [(ngModel)]="form.email" name = "email"></ion-input>
        </ion-item>
        <!---Input field password-->
        <ion-item no-padding style = "background:none;">
          <ion-label ><ion-icon ios="ios-unlock" md="md-unlock"></ion-icon></ion-label>

          <ion-label color="dark" floating> {{data.labelPassword}}</ion-label>
          <ion-input required type="password" placeholder="{{data.password}}" [(ngModel)]="form.password" name = "password"></ion-input>

        </ion-item>
        <button ion-button  style="float: right;" clear (click)="goToFrogetPage()">{{data.forgotPassword}}</button>
      </ion-col>

      <!---Share Section-->
      <ion-col align-self-end bottom-form col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Login button-->

		<button  ion-button default-button full text-capitalize (click)="login()">{{data.login}}</button>
        <!---Facebook button-->
        
      </ion-col>
      <ion-col col-6 col-sm-6 col-md-6>
        <p text-right>Don't have account?</p>
      </ion-col>
      <ion-col col-6 col-sm-6 col-md-6>
        <button ion-button button-clear clear text-capitalize (click)="goToRegister()">{{data.register}}</button>
      </ion-col>
      <!---End Share Section-->
    </ion-row>
  </ion-grid>
</ion-content>
