<!--Theme Appearance animation (Fade In Right)-->
<ion-content has-header>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
            <ion-col col-12>
                <ion-list no-margin>
                    <ion-item border no-lines [ngClass]="animateClass" *ngFor="let item of data.items; let i = index;" (click)="getProductDetails(item.id)">
                        <ion-avatar item-left>
                            <img [src]="item.image" alt="{{item.title}}" />
                        </ion-avatar>
                        <h2 item-title>{{item.title}} </h2>
						<p>{{item.price}}$</p>
						<!---
                        <ion-icon icon-small item-right (click)="onEvent('onFavorite', item, $event)">
                            <i class="icon" [ngClass]="{'icon-heart': item.favorite, 'icon-heart-outline': !item.favorite}"></i>
                        </ion-icon>
						-->
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>