<!--- Theme Parallax - Product -->
<ion-header header-ios>
  <ion-navbar transparent [ngClass]="{'active':isClassActive()}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="data[0] != null" text-left>{{data[0].title}}</ion-title>
	
		<ion-buttons right>
        <button style="background-color:white;" (click)="goToMap(data[0])">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content elastic-header>
  <!-- Parallax Big Image -->
  <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + data[0].firebase_url + ')'}">
  
  
  <!--
		<ion-icon icon-big item-right color="primary" (click)="addToFavourite(data[0])"  style="padding-right:25px;padding-top:120px;">
                            <i class="icon" [ngClass]="{'icon-heart': data[0].favorite, 'icon-heart-outline': !data[0].favorite}"></i>
            </ion-icon>
			
			
			
			-->
			
			<ion-icon icon-big item-right name="call" color = "primary" (click)="call(data[0])" style="position:relative; font-size:2em;padding-top:120px;"  >
							<span style="position:absolute; top:-.3em; left:.5em; font-size:15px !important"></span>
						</ion-icon>
			
			<ion-icon icon-big item-right name="map" color = "primary" (click)="goToMap(data[0])" style="position:relative; font-size:2em;padding-top:120px;"  >
							<span style="position:absolute; top:-.3em; left:.5em; font-size:15px !important"></span>
						</ion-icon>
					
					
						<ion-icon icon-big item-right name="chatbubbles" color = "primary" (click)="writeComment(data[0])" style="position:relative; font-size:2em;padding-top:120px;"  >
							<span style="position:absolute; top:-.3em; left:.5em; font-size:15px !important"></span>
						</ion-icon>	
			 
	<ion-icon icon-big item-right color="primary" (click)="addToFavourite(data[0])"  style="padding-top:120px;">
                   <i [ngClass]="{'icon-heart-outline': !favorite}" ></i>
				   
	</ion-icon>
	
	<ion-icon icon-big item-right color="primary" (click)="removeFavourite()"  style="padding-top:120px;">
                  <i [ngClass]="{'icon-heart': favorite}" ></i>
	</ion-icon>
	

	

	
	
				
						<!----
    <button ion-fixed item-end ion-button color="primary" button-action-shit *ngIf="data[0] != null" (click)="onEvent('onShare', data[0])">
		<ion-icon icon-small item-right (click)="onEvent('onFavorite', data[0], $event)">
                            <i class="icon" [ngClass]="{'icon-heart': data[0].favorite, 'icon-heart-outline': !data[0].favorite}"></i>
                        </ion-icon>
	
	
        <ion-icon  name="heart"></ion-icon>
		
      </button>
	  -->
  </ion-item>
  <!--Content-->
  <ion-grid no-padding *ngIf="data[0] != null">
    <ion-row>
      <ion-col col-12>
        <ion-list no-margin>
          <ion-item-group (click)="onEvent('onItemClick', data[0])">
            <ion-item-divider no-lines>
              <!-- Name Category-->
            <!--  <span new-category margin-top text-uppercase>{{data[0].name}}</span> --->
              <!-- Parallax Title -->
              <h2 new-category text-uppercase>{{data[0].title}}</h2>
              <!-- Parallax Subtitle -->
              <!---<h3 parallax-subtitle text-wrap>{{data[0].description}}</h3>--->
		
              	<ion-badge style ="align:right;" item-end text-uppercase class="badge-dark" (click)="onEvent('onProceed', data[0], $event)">{{data[0].distance}}</ion-badge>
            </ion-item-divider>
			
			
            <!-- Description Products -->
            <ion-item border no-lines no-margin>
              <p parallax-description text-wrap>{{data[0].description}}</p>
			  
			  <p></p>
			  <p parallax-description text-wrap><b>Phone number: </b>{{data[0].phonenumber}}</p>
			  
			  <p></p>
			  <p parallax-description text-wrap><b>Address: </b>{{data[0].address}}</p>
			  	  
			
			  
            </ion-item>
			  
			
		
			
			<ion-item no-lines *ngFor="let post of data.comments" class="items"  
					style = "background-color:#D1F3E3;">
						
						<!--
						 <ion-avatar item-start>
							  <ion-list style="margin:15px 0 0 0;font-family: Arial ">
							  <div *ngIf="!userProfiles.photoURL" class="profile-image">
								<img src="{{values.avatar}}" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;">
							 </div>
							 <div *ngIf="userProfiles.photoURL" class="profile-image">
								<img src="{{userProfiles.photoURL}}" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;">
							 </div>
							 
						  </ion-list>
						  </ion-avatar>
						  -->
						
						<ion-avatar item-left>
                            <img [src]="post.photo_url" alt="{{post.user_name}}" />
                        </ion-avatar>
						
						
						
							 <h4 item-title>{{post.user_name}}</h4>
							 <h4 item-title>{{post.comment}}</h4>
							 
	
						<ion-icon name="trash" *ngIf="post.user_id == userProfilesKey" color = "primary" (click)="deleteComment(data[0],post.id)" style="position:relative; font-size:2em;"  >
							<span style="position:absolute; top:-.3em; left:.5em; font-size:15px !important"></span>
						</ion-icon>
							 
							 
						 </ion-item>
			
			
          
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<button ion-button full (click)="goToMap(data[0])">Find Location</button>
	</ion-toolbar>
</ion-footer>
